body {
    margin: 0;
    padding: 0;
    background-image: url('img/backgroundindex.jpg');

}

.navbar {
    background-color: rgba(232, 232, 232, 0.7);
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0;
    padding: 2vh;
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

.nav-list a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 16px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: rgb(37, 37, 37);
    height: 3px;
    width: 25px;
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(232, 232, 232, 0.7);
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 15px 0;
        text-align: center;
    }

    .burger-menu {
        display: flex;
    }
}

.nav-list li:hover {
    background-color: rgb(203, 203, 203);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/* konten 1 */

.index-text {
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-align: center;
    width: 100%;
}

.index-text-p {
    font-size: xxx-large;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.index-text-p1 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* konten 2 */

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.box-content {
    padding: 20px;
}

.box-content h2 {
    margin-top: 0;
    color: #333;
}

.box-content p {
    color: #666;
}

@media only screen and (max-width: 768px) {
    .box {
        width: 100%;
    }
}

footer {
    display: block;
}